VITE_GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/SUA_URL_DO_APP_SCRIPT_DE_CONVIDADOS_AQUI/exec"
VITE_GOOGLE_SCRIPT_GIFTS_URL="https://script.google.com/macros/s/SUA_URL_DO_APP_SCRIPT_DE_PRESENTES_AQUI/exec"
